@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
    General CSS
*/
* {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0.25px 0.25px black;
}
.hello-grid {
    margin: 10px;
    
    width: 90%;
    display: grid !important;
    grid-template-rows: auto;
    background: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 125px 125px 2fr 2fr 2fr;
    grid-template-areas: 
    "Profile Profile Profile Profile Profile Profile"
    "Profile Profile Profile Profile Profile Profile"
    "Contact Contact Ratings Ratings Ratings Ratings"
    "Contact Contact Ratings Ratings Ratings Ratings"
    "Contact Contact Ratings Ratings Ratings Ratings";
    column-gap: 5px;
    row-gap: 5px;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px black;
}

.label-one {
    grid-area: Profile;
    background-color: #316879;
    border-radius: 10px;
}

.label-two {

    background-color: gray;
    border-radius: 10px;
    grid-area: Contact;
}

.label-three {
    background-color: tan;
    border-radius: 10px;
    grid-area: Ratings;
}

.pfp {
    display: block;
    margin: 25px;
    height: 200px;
    width: 200px;
}

.name {
    border-radius: 5px;
    margin-top: 20px;
    color: black;
}

.ratings {
    margin: 5px;
}

.contact-me {
    margin: 20px;
    
}
.single-rating {
    background-color: white;
    border-radius: 10px;
}
