


.buttonLayout{
    margin: auto;
    margin-top:5%;
  width: 50%;
 
 
}

/* body {
    background-image: url("https://cdn.discordapp.com/attachments/982032674078216210/997652262996430868/unknown.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
} */


.background-photo{
    background-image: url("https://cdn.discordapp.com/attachments/982032674078216210/997652262996430868/unknown.png");
    background-color: #cccccc;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.marketPlaceButton{
background-color: black;
color: whitesmoke;
}

.marketPlaceButton:hover{
    background-color: whitesmoke;
    color: black;

}


.formButton{
    background-color: black;
color: whitesmoke;
}

.formButton:hover{
    background-color: whitesmoke;
    color: black;
}

.serviceButton{
    background-color: black;
    color: whitesmoke;
}

.serviceButton:hover{
    background-color: whitesmoke;
    color: black;
}

.horItemLayout{
border: 3px solid green;
}

.vertItemLayout{
    border: 3px solid green;
    background-color: black;
}

.buttonItem{
    background-color: black;
    
}

.buttonItem:hover{
    background-color: whitesmoke;
    color: black;
}

.description{
    margin: auto;
    margin-top: 10%;
    font-size: 20px;
    color: azure;
}

.searchBar{
    /* background-color: rgba(211, 211, 211, 0.933); */
    background-color: white;
    margin-right: 2px;
}
.selector{
    background-color: white;
}
.searchButton{
    background-color: white;
    color:black;
    
}