


.verticalLayout{
    border: auto;
    width: auto;
    border-radius: 40px;


}

.h1Layout{
    margin: auto;
}

.FooterLayout{
    border-radius: 40px;
    background-color: gray;
    justify-self: stretch;
    margin-top: 200px;
    height: 230px;

}

.Header{
    text-decoration: underline;
}

